<% title "Plants" %>

<%= form_tag plant_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Company</th>
    <th>City</th>
    <th>State</th>
    <th>Type</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for plant in @plants %>
    <tr>
      <td><%= plant.company %></td>
      <td><%= plant.city %></td>
      <td><%= plant.state %></td>
      <td><%= plant.type %></td>
      <td><%= plant.latitude %></td>
      <td><%= plant.longitude %></td>
      <td><%= link_to "Show", plant %></td>
      <td><%= link_to "Edit", edit_plant_path(plant) %></td>
      <td><%= link_to "Destroy", plant, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Plant", new_plant_path %></p>
